/* reseteo css*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border box;
}

/*fuente*/


.fuentes {
    font-family: 'Poppins', sans-serif;
}

/*index*/

.cont-port {
    width: 100%;
    display: flex;

}

.portada {
    width: 100%;
    display: flex;
}

.cont-port2 {
    width: 100%;
    display: none;
}

.cont-port3 {
    width: 100%;
    display: none;

}

/*footer*/
footer {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 15px;
}

ul li {
    display: inline;
    padding-left: 35px;
}


.iconos-redes {
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: black;
    font-weight: bold;
}

a {
    text-decoration: none;
}


/*LA REVOLUCION*/
.bot-escuchar {
    display: flex;
    width: 180px;
    background-color: rgba(53, 36, 232, 0.884);
    border-radius: 25px;
    padding: 6px 65px;
    margin-top: 35px;
    justify-content: center;

}

.cont-bot-esc {
    width: 100%;
    display: flex;
    justify-content: center;
}

.cont-bot-esc :hover {
    transition: all;
    background-color: rgb(255, 157, 10);
}

.enlace-dis {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
    text-align: center;
}

.lista-reproduccion {
    display: flex;
    justify-content: center;
}

.disco {
    display: flex;
    width: 30%;
}

.cont-tapa {
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    text-align: center;
    margin: 40px;
}

.larev {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;

}

/*shows*/
.cont-fec{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fechas {
   width: 80%;
   padding: 50px;
   margin: 10px auto;
}

.band {
    display: flex;
    justify-content: center;
    width: 10%;
    color: white;
    border-radius: 20px;
    padding: 12px 8px;
    margin: 10px;
    border: solid 5px black;
    align-items: center;
    text-align: center;
    font-size: 22px;
}

.band-boton {
    color: rgb(0, 0, 0);
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.fecha-1 {
    border-top: 3px solid black;
    width: 100%;
}

.fecha-2 {
    border-top: 3px solid black;
    width: 100%; /*funcion*/
}

.fecha-3 {
    border-top: 3px solid black;
    width: 100%;
}

.bot-fecha1 {
    display: inline-block;
    width: 210px;
    color: white;
    border-radius: 15px;
    padding: 4px 30px;
    margin: 10px;
    background-color: rgb(134, 134, 134);
    border: solid 1px black;
    position: absolute;
    left: 70%;
    top: 48%;
}

.bot-fecha2 {
    display: inline-block;
    width: 210px;
    color: white;
    border-radius: 15px;
    padding: 4px 30px;
    margin: 10px;
    background-color: rgb(134, 134, 134);
    border: solid 1px black;
    position: absolute;
    left: 70%;
    top: 65%;
}

.bot-fecha3 {
    display: inline-block;
    width: 210px;
    color: white;
    border-radius: 15px;
    padding: 4px 30px;
    margin: 10px;
    background-color: rgb(134, 134, 134);
    border: solid 1px black;
    position: absolute;
    left: 70%;
    top: 82%;
    margin-bottom: 100px;
}

.bot-fechascolor :hover {
    transition: all;
    color: black;
}/*variable*/

/*multimedia*/

.clips {
    width: 100%;
    display: flex;
    justify-content: center;
}

.videos-yt{
    width: 100%;
    display: flex;
    justify-content: center;
}

.lab-yt {
    margin: 30px;

}

.baj-yt {
    margin: 30px;
}

h1 {
    font-weight: 700px;          
    color: black;
    text-align: center;
    font-size: 50px;
    margin: 20px;
}

.cont-canal {
    width: 100%;
    display: flex;
    justify-content: center;
}

.bot-canal {
    display: flex;
    justify-content: center;
    width: 6%;
    color: white;
    border-radius: 20px;
    padding: 5px 6px;
    margin: 10px;
    background-color: rgb(0, 0, 0);
    text-align: center;
    font-size: 19px;
}

.fotos {
    width: 100%;
    display: flex;
    align-items: center;
}

.cont-carrusel {
    display: flex;
    width: 50%;
    margin: 3px auto;
    justify-content: center;
    margin-left: 35%;    
}

/*bio*/
.bio-fondo {
    background-image: url(imagenes/logo-fondo-bio.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}

.cont-bio {
    margin-top: 50px;
}
p {
    font-size: 20px;
}

/*contacto*/

.contacto{
    background-color: rgb(216, 211, 211);
    color: white;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-contacto{
    background-color: #000000;
    width: 80%;
    padding: 50px;
    margin: 50px auto;
}

.form-fila input[type="text"],
.form-fila input[type="email"]{
  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  margin-bottom: 20px;
}

.form-fila textarea {
    resize: none;
    min-height: 200px;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 3px;
}

.form-fila input[type="email"]:invalid{
    border: solid 2px tomato;
}

.form-fila button{
    font-size: 16px;
    font-weight: bold;
    background-color: white;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 3px;
    padding: 10px 40px;
    cursor: pointer;
    display: block;
    margin: 20px 0px;
}


/*
mobile
*/
@media only screen and (max-width:450px) {

    h1{
        font-size: 12px;
    } 

    ul li {
        padding-left: 13px;
    }


    .cont-footer {
        margin-top: 50px;
    }

    /*index*/
    .cont-port {
        display: none;
    }

    .cont-port2 {
        margin-top: 15px;
        display: flex;
        width: 100%;
    }

    .portada-2 {
        width: 100%;
    }

    /*larevolucion*/
    .disco {
        width: 80%;
    }

    .lista-reproduccion {
        display: none;

    }

    /*multimedia*/
    .baj-yt {
        display: none;
    }

    .bot-canal {
        width: 45%;
    }

    .carrusel1 {
        margin: 5px;
    }

    .carrusel2 {
        margin: 5px;
    }

    .carrusel3 {
        margin: 5px;
    }

    footer {
        margin-bottom: 30px;
        margin-top: 50px;
    }

    /*shows*/
  
    /*contacto*/


/*
tablet
*/
@media only screen and (min-width:451px) and (max-width:960px) {


    ul li {
        padding-left: 22px;
    }

    .cont-nav {
        margin-top: 18px;
    }

    .cont-footer {
        margin-top: 100px;
    }

    /*index*/
    .cont-port {
        display: none;
    }

    .cont-port2 {
        margin-top: 15px;
        display: flex;
        width: 100%;
    }

    .portada-2 {
        width: 100%;
    }

    /*larevolucion*/
    .disco {
        width: 60%;
    }


    /*multimedia*/


    .bot-canal {
        width: 45%;
    }

    .carrusel1 {
        margin: 5px;
    }

    .carrusel2 {
        margin: 5px;
    }

    .carrusel3 {
        margin: 5px;
    }

    footer {
        margin-bottom: 30px;
        margin-top: 50px;
    }

    /*shows*/
    
   
    /*contacto*/
 
}

/*desktop small*/
@media only screen and (min-width:961px) and (max-width:1023px) {


    .enlace-menu {
        font-size: 18px;
    }

    ul li {
        padding-left: 40px;
    }

    .cont-nav {
        margin-top: 45px;
    }

    .cont-footer {
        margin-top: 100px;
    }

    /*index*/
    .cont-port {
        display: none;
    }

    .cont-port3 {
        margin-top: 15px;
        display: flex;
        width: 100%;
    }

    .portada-3 {
        width: 100%;
    }

    /*larevolucion*/
    .disco {
        width: 60%;
    }

    .lista-reproduccion {
        margin-left: 3%;
    }

    /*multimedia*/


    .bot-canal {
        width: 45%;
    }

    .carrusel1 {
        margin: 5px;
    }

    .carrusel2 {
        margin: 5px;
    }

    .carrusel3 {
        margin: 5px;
    }

    footer {
        margin-bottom: 30px;
        margin-top: 50px;
    }

    /*shows*/


/*
    .fechas {
        padding-left: 10%;
    }

    .fecha-1 {
        width: 90%;
    }

    .fecha-2 {
        width: 90%;
    }

    .fecha-3 {
        width: 90%;
    }
*/
    
    

    /*contacto*/
   
}