/*index*/
/*portada*/

div .cont-port {
    width: 100%;
    display: flex;

}

   img{
    .portada {
        width: 100%;
        display: flex;
    }

}

div .cont-port2 {
    width: 100%;
    display: flex;

}

    img{
    .portada2 {
        width: 100%;
        display: none;
    }

}

div .cont-port3 {
    width: 100%;
    display: flex;

}

    img{

    .portada3 {
        width: 100%;
        display: none;

    }
}